<%- include('./partials/header'); %>
   
    <div class="main-container">
        <section>
            <div class="container">
                <div class="vc_row wpb_row vc_row-fluid custom-heading">
                    <div class="wpb_wrapper">
                        <h1 class="text-3xl font-bold text-gray-800 lead-wrap" style="text-align: center;">
                            <strong>Online Invoice Generator </strong></h1>
                        <p class="lead text-xl" style="text-align: center;"><strong>Create &amp; download invoices
                                for free<br role="presentation" data-uw-rm-sr="">
                            </strong></p>

                    </div>
                </div>
            </div>
    </div>
    <div class="flex flex-col items-center space-y-5">
        <a class="px-5  py-3 mt-10 rounded bg-blue-500  text-white font-bold text-base hover:bg-indigo-600"
            href="create-invoice">Create invoice now</a>

        <div id="home-image-center"
            class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1593012817371">

            <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="564" height="693"
                        alt="Invoice Generator Online" title="Invoice Generator Online"
                        data-src="https://freeinvoicebuilder.com/wp-content/uploads/2020/06/invoice_generator_overview-564x693.png"
                        class="vc_single_image-img  lazyloaded"
                        src="https://freeinvoicebuilder.com/wp-content/uploads/2020/06/invoice_generator_overview-564x693.png"
                        data-uw-rm-ima-original="invoice generator online"><noscript><img class="vc_single_image-img "
                            src="https://freeinvoicebuilder.com/wp-content/uploads/2020/06/invoice_generator_overview-564x693.png"
                            width="564" height="693" alt="Invoice Generator Online"
                            title="Invoice Generator Online" /></noscript></div>
            </figure>
        </div>
        <div class="row vc_row wpb_row vc_inner vc_row-fluid">
            <div class="wpb_column vc_column_container col-sm-12 vc_col-has-fill">
                <div class="vc_column-inner vc_custom_1572271184085">
                    <div class="wpb_wrapper"></div>
                </div>
            </div>
        </div>
        <div class="vc_btn3-container  custom-btn create-now-button vc_btn3-center">
            <a class="px-5  py-3 mt-10 rounded bg-blue-500  text-white font-bold text-base hover:bg-indigo-600"
                href="create-invoice">Create invoice now</a>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid about-text vc_custom_1506767579420">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="vc_column-inner vc_custom_1588975234038">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h2><strong>Brand your invoices with your customized business logo for free</strong>
                                </h2>
                                <p class="lead">Each invoice created with our online invoice maker can be customized
                                    to the specific client you’re sending it to. You can choose to add your company
                                    or business logo, add sender info (or set default sender in the settings), add
                                    client info, add as many items as you wish such as products with fixed prices
                                    &amp; services with hourly rates, add taxes and to make sure to get paid on time
                                    add invoice payment terms such as banking details or payment link and due date.
                                    The clean, user-friendly interface of the invoice generator also lets you add
                                    new clients and manage them easily. Contact, company &amp; payment details and
                                    customized <a href="https://freeinvoicebuilder.com/online-invoice-templates/"
                                        target="_blank" rel="noopener noreferrer" data-uw-rm-brl="false"
                                        aria-label="invoice templates - opens in new tab" data-uw-rm-ext-link=""
                                        uw-rm-external-link-id="https://freeinvoicebuilder.com/online-invoice-templates/$invoicetemplates">invoice
                                        templates</a>&nbsp;can be saved for recurring invoices.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-1">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper"></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-5">
                <div class="vc_column-inner vc_custom_1506767659663">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="400" height="241"
                                        alt="generate invoice with your logo"
                                        data-srcset="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy.png 400w, https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy-300x181.png 300w"
                                        data-src="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy.png"
                                        data-sizes="(max-width: 400px) 100vw, 400px"
                                        class="vc_single_image-img attachment-full lazyloaded"
                                        src="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy.png"
                                        sizes="(max-width: 400px) 100vw, 400px"
                                        srcset="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy.png 400w, https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy-300x181.png 300w"
                                        data-uw-rm-ima-original="generate invoice with your logo"><noscript><img
                                            width="400" height="241"
                                            src="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy.png"
                                            class="vc_single_image-img attachment-full"
                                            alt="generate invoice with your logo"
                                            srcset="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy.png 400w, https://freeinvoicebuilder.com/wp-content/uploads/2019/10/generate-invoice-easy-300x181.png 300w"
                                            sizes="(max-width: 400px) 100vw, 400px" /></noscript></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid about-text vc_custom_1506769219934">
            <div class="wpb_column vc_column_container col-sm-5">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="400" height="242"
                                        alt="generate &amp; download invoice as PDF"
                                        data-srcset="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/download-invoice-as-PDF.png 400w, https://freeinvoicebuilder.com/wp-content/uploads/2019/10/download-invoice-as-PDF-300x182.png 300w"
                                        data-src="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/download-invoice-as-PDF.png"
                                        data-sizes="(max-width: 400px) 100vw, 400px"
                                        class="vc_single_image-img attachment-full lazyload"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-uw-rm-ima-original="generate &amp; download invoice as pdf"><noscript><img
                                            width="400" height="242"
                                            src="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/download-invoice-as-PDF.png"
                                            class="vc_single_image-img attachment-full"
                                            alt="generate &amp; download invoice as PDF"
                                            srcset="https://freeinvoicebuilder.com/wp-content/uploads/2019/10/download-invoice-as-PDF.png 400w, https://freeinvoicebuilder.com/wp-content/uploads/2019/10/download-invoice-as-PDF-300x182.png 300w"
                                            sizes="(max-width: 400px) 100vw, 400px" /></noscript></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-1">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper"></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="vc_column-inner vc_custom_1506769336959">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h2><strong>Generate unlimited&nbsp;invoices &amp; PDF download</strong></h2>
                                <p class="lead">Using our online invoice maker, you can generate an unlimited number
                                    of invoices&nbsp;and download them as PDF without having to pay extra. Free
                                    Invoice Builder will help you to <a
                                        href="https://freeinvoicebuilder.com/invoice-format-2/" target="_blank"
                                        rel="noopener noreferrer" data-uw-rm-brl="false"
                                        aria-label="make invoices in the correct format - opens in new tab"
                                        data-uw-rm-ext-link=""
                                        uw-rm-external-link-id="https://freeinvoicebuilder.com/invoice-format-2/$makeinvoicesinthecorrectformat">make
                                        invoices in the correct format</a>&nbsp;with all essential elements. Plus,
                                    you can easily help you save, track and manage all your invoices &amp; contacts,
                                    so you’ll never lose or misplace an invoice and clients business details.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="vc_custom_1506572479132 vc_section-has-fill">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="footer-bottom wpb_column vc_column_container col-sm-8">
                    <div class="vc_column-inner vc_custom_1588976257582">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h2><strong>Why use Free Invoice Builder?</strong></h2>
                                    <p class="lead" style="text-align: left;">Sending invoices to clients is a large
                                        part of any business – in order to keep a business running, payments from
                                        clients must be received on time. However, the <a
                                            href="https://freeinvoicebuilder.com/tips-for-effective-invoicing/"
                                            target="_blank" rel="noopener noreferrer" data-uw-rm-brl="false"
                                            aria-label="process of producing - opens in new tab" data-uw-rm-ext-link=""
                                            uw-rm-external-link-id="https://freeinvoicebuilder.com/tips-for-effective-invoicing/$processofproducing">process
                                            of producing</a><a
                                            href="https://freeinvoicebuilder.com/tips-for-effective-invoicing/"
                                            target="_blank" rel="noopener noreferrer" data-uw-rm-brl="false"
                                            aria-label="invo - opens in new tab" data-uw-rm-ext-link=""
                                            uw-rm-external-link-id="https://freeinvoicebuilder.com/tips-for-effective-invoicing/$invo">
                                            invo</a><a
                                            href="https://freeinvoicebuilder.com/tips-for-effective-invoicing/"
                                            target="_blank" rel="noopener noreferrer" data-uw-rm-brl="false"
                                            aria-label="ices - opens in new tab" data-uw-rm-ext-link=""
                                            uw-rm-external-link-id="https://freeinvoicebuilder.com/tips-for-effective-invoicing/$ices">ices</a>
                                        can often be quite tedious, which is why many business owners defer it to the
                                        last possible minute. But now, with new digital tools and technologies
                                        available, all that has changed: producing invoices and sending them to clients
                                        has never been easier.</p>
                                    <p class="lead" style="text-align: left;">Free Invoice Builder is an <a
                                            href="https://app.freeinvoicebuilder.com/#build" target="_blank"
                                            rel="noopener noreferrer" data-uw-rm-brl="false"
                                            aria-label="online invoice generator - opens in new tab"
                                            data-uw-rm-ext-link=""
                                            uw-rm-external-link-id="https://app.freeinvoicebuilder.com/#build$onlineinvoicegenerator">online
                                            invoice generator</a> – an innovative business tool you can use for creating
                                        invoices online without any hassle. It allows businesses to produce invoices
                                        using a ready- made template, where all that needs to be done is inserting the
                                        client’s details, the items for payment, <a
                                            href="https://freeinvoicebuilder.com/invoicing-taxation/" target="_blank"
                                            rel="noopener noreferrer" data-uw-rm-brl="false"
                                            aria-label="taxes (if necessary) - opens in new tab" data-uw-rm-ext-link=""
                                            uw-rm-external-link-id="https://freeinvoicebuilder.com/invoicing-taxation/$taxes(ifnecessary)">taxes
                                            (if necessary)</a> and the total amount – then sending the invoice to the
                                        client online.</p>
                                    <p class="lead" style="text-align: left;">With this free invoice maker, you can
                                        build great-looking PDF invoices from scratch on your web browser and send them
                                        to clients in seconds – which saves time for both you and your clients.</p>
                                    <div class="wid_title h4">Contact us</div>
                                    <p class="lead" style="text-align: center;"><a
                                            href="mailto:contact@freeinvoicebuilder.com" data-uw-rm-brl="exc"
                                            aria-label="send an email to contact@freeinvoicebuilder.com"
                                            uw-rm-vague-link-id="mailto:contact@freeinvoicebuilder.com$send an email to contact@freeinvoicebuilder.com"
                                            data-uw-rm-vglnk=""><img alt="" width="23" height="24"
                                                data-src="https://freeinvoicebuilder.com/wp-content/uploads/2017/02/mail.jpg"
                                                class="alignnone size-full wp-image-4307 lazyload"
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                role="presentation" data-uw-rm-ima="bs64"><noscript><img
                                                    class="alignnone size-full wp-image-4307"
                                                    src="https://freeinvoicebuilder.com/wp-content/uploads/2017/02/mail.jpg"
                                                    alt="" width="23" height="24" /></noscript>
                                            contact@freeinvoicebuilder.com</a></p>

                                </div>
                            </div>
                            <div class="vc_btn3-container  custom-btn create-now-button vc_btn3-center">
                                <a style="background-color:#1e79f2; color:#ffffff;"
                                    class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-round vc_btn3-style-custom tag-manager"
                                    href="https://app.freeinvoicebuilder.com/#build" title=""
                                    data-action="Create invoice now" data-uw-rm-brl="false">Create invoice now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <footer class="space--sm footer-1 text-center-xs">
        
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                                </div>
                <div class="col-sm-6 text-right text-center-xs">
                    
    <ul class="social-list list-inline list--hover stack-footer-social">
        </ul>							</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    
    <a href="https://freeinvoicebuilder.com/" class="footer-logo-holder logo-holder" data-uw-rm-brl="false">
        <img alt="Invoice Generator" data-src="https://freeinvoicebuilder.com/wp-content/uploads/2017/09/logo.svg" class="logo logo-dark lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-uw-rm-ima-original="invoice generator"><noscript><img  alt="Invoice Generator" data-src="https://freeinvoicebuilder.com/wp-content/uploads/2017/09/logo.svg" class="logo logo-dark lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  alt="Invoice Generator" data-src="https://freeinvoicebuilder.com/wp-content/uploads/2017/09/logo.svg" class="logo logo-dark lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img class="logo logo-dark" alt="Invoice Generator" src="https://freeinvoicebuilder.com/wp-content/uploads/2017/09/logo.svg" /></noscript>
        <img alt="Invoice Generator" data-src="https://freeinvoicebuilder.com/wp-content/uploads/2017/09/logo.svg" class="logo logo-light lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-uw-rm-ima-original="invoice generator"><noscript><img  alt="Invoice Generator" data-src="https://freeinvoicebuilder.com/wp-content/uploads/2017/09/logo.svg" class="logo logo-light lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  alt="Invoice Generator" data-src="https://freeinvoicebuilder.com/wp-content/uploads/2017/09/logo.svg" class="logo logo-light lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img class="logo logo-light" alt="Invoice Generator" src="https://freeinvoicebuilder.com/wp-content/uploads/2017/09/logo.svg" /></noscript>
    </a>				<div class="footer-stack-copyright">
        <span>© Copyright 2023, All Rights Reserved
    
                            <span class="footer-links">  <a href="/terms-and-conditions/" data-uw-rm-brl="false">Terms &amp; Conditions</a>
    <a href="https://www.payoneer.com/legal/privacy-policy/" data-uw-rm-brl="false">Privacy Policy</a>  
    <a href="https://app.freeinvoicebuilder.com/#build" data-uw-rm-brl="false">Blank Invoice</a>
     <a href="/online-invoice-templates/" data-uw-rm-brl="false">Invoice Templates</a>  <a href="https://app.freeinvoicebuilder.com/#sign-up" data-uw-rm-brl="false">Open Account</a>                          
                  
    </span>
    
    
    </span></div>			</div>
            </div>
        </div>
    </footer> -->
    </div>
    </body>

    </html>